<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
                <rule name="Redirect Rule" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTPS}" pattern="on" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^y-dacha.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://y-dacha.com/{R:1}" redirectType="Permanent" />
                </rule>
      </rules>
    </rewrite>
	<urlCompression doDynamicCompression="true" />
  </system.webServer>
</configuration>
