.sc-learningpage-article-help-link {
    position: relative;
    display: inline-block;
    padding: 5px 40px;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(0deg,#3396d9,#1e7fc1);
}
.sc-learningpage-article-help-link:hover {
    
    color: #fff;
   
   }
/*начало модального окна*/
.fond {
    position:absolute;
    padding-top:45px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#f8b334;
}
.mymagicoverbox {
    display:inline-block;
    color:#ffffff;
    padding:10px;
    margin:10px;
    cursor:pointer;
    font-weight:300;
    font-family:'Roboto';
}
.mymagicoverbox_fenetre {
    z-index:9999;
    position:fixed;
    margin-left:50%;
    top:100px;
    text-align:center;
    display:none;
    padding:5px;
    background-color:#ffffff;
    color:#97BF0D;
    font-style:normal;
    font-size:20px;
    font-weight:300;
    font-family:'Roboto';
}
.mymagicoverbox_fenetreinterieur {
    text-align:center;
    overflow:auto;
    padding:10px;
    background-color:#ffffff;
    color:#666666;
    font-weight:400;
    font-family:'Roboto';
    font-size:17px;
    border-top:1px solid #e7e7e7;
    margin-top:10px
}
.mymagicoverbox_fermer {
    color:#CB2025;
    cursor:pointer;
    font-weight:400;
    font-size:14px;
    font-style:normal
    font-family:'Roboto';
}
#myfond_gris {
    display: none;
    background-color:#000000;
    opacity:0.7;
    width:100%;
    height:100%;
    z-index:9998;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

/* стили для платежных систем*/
*{
    box-sizing: border-box;
}

.modal-support {
    font-family: 'pt_sansregular', sans-serif;
    width: 90%;
    max-width: 600px;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(0deg,#125fc0 0,#3e85e0);
    border-radius: 10px;
    /*position: relative;*/

    z-index:9999;
    position:fixed;
    margin-left:50%;
    top:100px;
    text-align:center;
    display:none;
    padding:5px;
    /*background-color:#ffffff;*/
    /*color:#97BF0D;*/
    font-style:normal;
    font-size:20px;
    font-weight:300;
    font-family:'Roboto';
}
.close-btn-modal {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: 15px;
    color: #fff;
    font-size: 35px;
    line-height: 1;
    cursor:pointer;
}
.modal-support h3{
    text-align: center;
    padding: 20px 0;
    display:block;
}
.modal-elements-wrapper {
    width: 60%;
    margin:0 auto;
    padding-bottom: 40px;
}
.modal-elements-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.modal-elements-item--img {
    width: 50px;
    height: 50px;
    border:1px solid white;
    border-radius: 5px;
    background: center/cover no-repeat;
    margin-right: 20px;
    position: relative;

}
.modal-elements-item--img:before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border:1px solid white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
}