.sc-main-center-content-chemical {
	padding-top:49px;
}
.second-block--price {
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    background-color: #fff243;
    text-decoration: none;
    padding: 8px 10px;
}
.first-block {
	width: 40%;
	font-weight: bold;
	vertical-align: top;
	padding-bottom: 20px;
}
.second-block {
	width: 60%;
	
	vertical-align: top;
	padding-bottom: 20px;
}
.sc-content-chemical-header {
	margin-bottom: 25px;
}
.sc-content-chemical-header ul {
	list-style: none;
	padding: 0;
	margin: 0;

}
.sc-content-chemical-header ul li {
	flex-grow: 1;
}
.sc-content-chemical-header ul li a{
	display: block;
	padding: 5px 20px;
	color: #ffffff;
	font-size: 20px;
	border-right: 1px solid #ffffff;
	text-align: center;
	background-color: #5095ed;
	
}
.sc-content-chemical-header ul li:first-child a{
	border-top-left-radius:25px;
	border-bottom-left-radius:25px;

	
}
.sc-content-chemical-header ul li:last-child a{
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
	background-color: orange;

	
}
.sc-chemicat-comments h3 {
	padding-left: 0;
}
/*------sc-chemical-shop-list--------*/
.sc-chemical-shop-list-header {
	background-color: #A9A9A9;
	padding:5px 25px; 
	color: #ffffff;
	font-size: 20px;
	min-height: 60px;
}
.sc-chemical-delivery {
    border-top: none;
padding-top: 0;
position: absolute;
left: 25px;

}
.sc-chemical-shop-list-header-rate {
	position: absolute;
right: 25px;
}
.sc-chemical-shop-list-header-reviews {
	font-size: 12px;
}
.sc-chemical-delivery-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 7px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}
.sc-chemical-shop-list-content {
	background-color: #e6e6e6;
	padding:5px 25px 20px 25px; 
}
.sc-shop-list-content-element {
	padding-top: 15px;
	border-bottom: 1px solid #000000;
}
.sc-chemical-shop-list-footer {
	background-color: #1d67c6;
	padding:5px 25px;
	color:#ffffff;
	position: relative;
}
.sc-chemical-shop-list-footer-phone *{
	padding-right: 15px;

}
.property-shop__phone-show{
	color:#ffffff;
}
.property-shop__phone-show:hover{
	color:#ffffff;
}
.property-shop__phone-btn{
	padding:13px 15px;
    border-radius: 5px;
    background-color: #ffbf00;
    border: none;
    font-size: 18px;
    color: #fff;
    position: absolute;
    right: 25px;
    top:-11px;
}
.property-shop__phone-btn:hover{
	
    color: #fff;
}
.sc-chemical-page-article-block {
	position: absolute;
    right: 65px;
    top: -4px;
}