
@font-face {
    font-family: 'montserrat_bold';
    src: url('../fonts/montserrat/montserratalternates-bold-webfont.eot');
    src: url('../fonts/montserrat/montserratalternates-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat/montserratalternates-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat/montserratalternates-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat/montserratalternates-bold-webfont.svg#montserrat_alternatesbold') format('svg');
    font-weight: normal;
    font-style: normal;

}